.map {

    li {
        margin: 0 0 10px 0;

        a {
            color: #212121;

            &:hover {
                color: #bf3400;
            }
        }
    }

    ul {
        margin: 10px 0;
    }
}