.map {

    li {
        margin: 0 0 10px 0;

        a {
            color: #212121;
            transition: all .3s;

            &:hover {
                color: #bf3400;
                text-decoration: none;
            }
        }
    }

    ul {
        margin: 10px 0;
    }
}