.posts__item {
}

.posts__title {
    margin: 0 0 30px 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3;
}

.posts__title a {
    color: #2f2e2e;
    text-decoration: none;

    &:hover {
        opacity: .8;
    }
}

.posts__title a:hover {
    text-decoration: none;
    cursor: pointer;
}

.posts__desc {
    margin: 0 0 20px 0;
}

.posts__photo {
    margin: 0 0 10px 0;
    height: 424px;
}

.posts__photo img {
    width: 100%;
    transition: all .3s;
}

.posts__photo img:hover {
    opacity: .8;
}

.posts__more {
    text-align: right;
    margin: 0 0 10px 0;
}

.posts__more a {
    text-transform: uppercase;
    border: 1px solid #2f2e2e;
    padding: 5px;
    text-decoration: none;
    color: #2f2e2e;
    font-size: 10px;
    transition: all .3s;

    &:hover {
        background: #2f2e2e;
        color: #fff;
    }
}

.posts__btn-top {
    display: none;
    position: fixed;
    left: 20px;
    bottom: 20px;
    padding: 5px 10px;
    background: #2f2e2e;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.posts__btn-top:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    margin: 0 0 0 -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 15px 20px;
    border-color: transparent transparent #2f2e2e transparent;
    cursor: pointer;
}
