.chat {

    &__form {
        margin: 0 0 30px 0;
        display: table;
        width: 400px;
        margin: 0 auto 40px auto;

        input, textarea {
            border: 1px solid #969696;
            outline: none;
            height: 40px;
            width: 100%;
            margin: 0 0 20px 0;
            padding: 10px;
            box-sizing: border-box;
        }

        textarea {
            height: 150px;
        }

        button {
            padding: 10px;
            background: #999;
            border: none;
            color: #fff;
            display: inline-block;
            outline: none;
            float: right;
        }
    }

    &__label {
        margin: 0 0 5px;
    }

    &__box {
        border-top: 1px solid #c1c1c1;
        clear: both;
        padding: 40px 0 0;
        /* height: 600px;
        overflow-y: scroll; */
    }

    &__item {
        margin: 0 0 40px 0;
        padding: 20px;
        background: #c1c1c1;
        color: #212121;
        border-radius: 5px;
        width: 70%;
        clear: both;
    }

    &__author {
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 5px 0;
    }

    &__date {
        font-size: 12px;
    }

    &__msg {
        height: 1.5;
        margin: 10px 0 0;
    }
}