.congrat {

    &__item {
        margin: 0 0 40px 0;
        position: relative;
    }

    &__title {
        text-transform: uppercase;
        margin: 0 0 20px 0;
        
        a {
            color: #2f2e2e;
            font-family: Open Sans Condensed,sans-serif;
            font-size: 24px;
            text-decoration: none;
            
            &:hover {
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    &__desc {
        line-height: 1.6;

        p {
            margin: 0;
        }
    }

    &__photo {
        margin: 20px 0 20px 0;
        
        img {
            width: 100%;
            transition: all .3s;

            &:hover {
                opacity: .8;
            }
        }
    }
}