.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    background: rgba(0, 0, 0, 0.84);

    &__wrp {
        width: 1000px;
        margin: 10% auto 0;
        text-align: center;
    }
}