.logo {
    background: url(i/betweeen.png) center center no-repeat;
    background-size: auto 100%;
    width: 400px;
    height: 150px;
    position: absolute;
    top: 16px;
    left: 50%;
    margin: 0 0 0 -200px;
    transition: all .3s;

    &:hover {
        -ms-transform: rotate(14deg); /* IE 9 */
        -webkit-transform: rotate(14deg); /* Chrome, Safari, Opera */
        transform: rotate(14deg);
    }
}