body {
    background: #f7f7f7;
    color: #2f2e2e;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.wrp {
    width: 1024px;
    margin: 0 auto;
}

.content {
    float: left;
    width: 67%;
}

.sidebar {
    float: right;
    width: 30%;
}

.box {
    background: #fff;
    padding: 20px;
}

header {
    height: 400px;
    background: url(i/EFenkN3I96A.jpg) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

main {
    display: table;
    width: 100%;
    margin: 0 0 50px 0;
}

footer {
    border-top: 1px solid #cacaca;
    padding: 20px 0;
    clear: both;
    line-height: 1.4;
}