html, body, #app {
    min-height: 100vh;
}

body {
    background: #f7f7f7;
    color: #2f2e2e;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(i/background-left.png), url(i/background-right.png);
    background-position-y: 210px;
    background-position-x: left, right;
    background-repeat: repeat-y;
}

header {
    height: 210px;
    background: #ffc835;
    position: relative;
    border-bottom: 2px dashed #fff;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url(i/left.png) 0 0 no-repeat;
        background-size: auto 100%;
        width: 330px;
        height: 200px;
    }

    &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        background: url(i/right.png) 0 0 no-repeat;
        background-size: auto 100%;
        width: 310px;
        height: 200px;
    }
}

.tools {
    width: 47px;
    height: 37px;
    position: absolute;
    top: 190px;
    left: 60px;
    background: url(i/tools.png) 0 0 no-repeat;
}

main {
    flex: 1;
    padding: 40px 0 100px 0;
}

footer {
    border-top: 2px dashed #cacaca;
    padding: 20px 0;
    line-height: 1.5;
    box-sizing: border-box;
}

.content {
    flex-basis: 70%;
    padding: 0 30px 0 0;
}

.sidebar {
    flex-basis: 30%;
}