header {
    height: 400px;
    /*background: url(i/EFenkN3I96A.jpg) center center no-repeat;*/
    -webkit-background-size: cover;
    background-size: cover;
}

.logo {
    /*background: #fff url(i/z8NBdv3Q5Bk.jpg) center center no-repeat;*/
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 100px;
    left: 100px;
}