.search {
	input {
		border: 1px solid #212121;
		width: 85%;
		float: left;
		box-sizing: border-box;
		padding: 10px;
		outline: none;
	}

	button {
		float: right;
		width: 15%;
		border: none;
		background: #212121;
		color: #fff;
		box-sizing: border-box;
		padding: 10px 10px 12px 10px;
		outline: none;

		&:hover {
			cursor: pointer;
			opacity: .8;
		}
	}
}