.datepicker {
    background: #fff;
    padding: 20px;
    margin: 20px 0 0;

    &__wrp {
        margin: 0 0 10px 0;
    }

    &__title {
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 0 20px 0;
        text-align: center
    }

    &__subtitle {
        width: 50%;
        display: inline-block;
        font-weight: bold;
        text-align: center;
        margin: 0 0 20px 0;
    }

    &__btn {

        &-next {
            display: inline-block;
            width: 25%;
            text-align: center;
            cursor: pointer;
        }

        &-prev {
            display: inline-block;
            width: 25%;
            text-align: center;
            cursor: pointer;
        }
    }

    &__bday {
        background: #7eff63;
        color: #fff !important;
        position: relative;

        &:hover {
            cursor: pointer;
            background: green;
        }
    }

    &__tooltip {
        display: none;
        position: absolute;
        top: 22px;
        left: 38px;
        background: #fff;
        padding: 10px;
        color: #212121;
        border: 1px solid #999
    }

    &__photo {
        background: #999;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 0 auto 5px auto;
    }
}

#calendar2 {
    width: 100%;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
}

#calendar2 thead tr:last-child {
    font-size: small;
    color: rgb(85, 85, 85);
}

#calendar2 thead tr:nth-child(1) td:nth-child(2) {
    color: rgb(50, 50, 50);
}

#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}

#calendar2 tbody td {
    color: rgb(44, 86, 122);
}

#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
    color: rgb(231, 140, 92);
}

#calendar2 tbody td.today {
    background: rgb(220, 0, 0);
    color: #fff;
}