.port {
    width: 800px;
    margin: auto;

    &__photo {
        float: left;
        width: 40%;

        img {
            width: 100%;
            margin: 40px 0 0 30px;
            position: relative;
        }
    }

    &__info {
        float: right;
        width: 60%;
        box-sizing: border-box;
        background: #fff;
        padding: 40px 40px 40px 60px;
    }

    &__title {
        margin: 0 0 40px 0;
        font-size: 26px;
        text-align: center;
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: 2px;
    }

    &__desc {
        line-height: 1.5;
    }
}