.albums {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}

.albums .albums__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin: 0 28px 40px 28px;
    background: #fff;
    transition: all .3s;
}

.albums .albums__item:hover {
    opacity: .8;
    cursor: pointer;
}

.albums .albums__title {
    margin: 10px 0 0;
    text-align: center;
    line-height: 1.5;
    padding: 0 10px 10px 10px;
}

.albums .albums__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.albums .albums_photo {
    width: 200px;
    height: 200px;
    overflow: hidden;
}
