.post {

    &__photo {
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        width: 1024px;
        height: 300px;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }

    &__title {
        font-size: 34px;
        color: #fff;
        font-family: 'Open Sans Condensed', sans-serif;
        margin: 0 20%;
        background: rgba(47, 46, 46, 0.65);
        padding: 15px;
    }

    &__desc {
        margin: 20px 0 0;
        line-height: 1.5;
    }

    &__download {
        width: 64px;
        height: 64px;
        display: inline-block;
        background: url("./i/download.png") 0 0 no-repeat;
        cursor: pointer;
        position: relative;
        margin: 0 20px 0 0;

        &:hover:after {
            display: block;
        }

        &:after {
            display: none;
            content: "скачать";
            position: absolute;
            top: 0;
            left: 65px;
            background: #fff;
            color: #2e2e2e;
            padding: 3px 5px;
            border-radius: 2px;
            z-index: 100;
        }
    }

    &__print {
        width: 64px;
        height: 64px;
        display: inline-block;
        background: url("./i/printer.png") 0 0 no-repeat;
        cursor: pointer;
        position: relative;

        &:hover:after {
            display: block;
        }

        &:after {
            display: none;
            content: "печатать";
            position: absolute;
            top: 0;
            left: 65px;
            background: #fff;
            color: #2e2e2e;
            padding: 3px 5px;
            border-radius: 2px;
            z-index: 100;
        }
    }
}