.gallery {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex-basis: 25%;
    padding: 0 20px 20px 0;

    &:hover {
      cursor: pointer;
    }

    figure {
      overflow: hidden;
    }

    figure img {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }

    figure:hover img {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }

    img {
      border-radius: 5px;
    }
  }
}