nav {
    display: table;
    width: 100%;
    margin: -23px 0 60px 0;
}

.mainmenu {
    text-align: center;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
}

.mainmenu li {
    display: inline-block;
    margin: 0 10px 0 0;
    position: relative;
}

.mainmenu li .active a {
    background: #fff;
    color: #2f2e2e;
}

.mainmenu a {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 5px 10px;
    background: #2f2e2e;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    transition: all .3s;

    &:hover {
        background: #666;
    }

    &.no-click:hover {
        cursor: default;
    }
}
