nav {
    margin: -10px 0 0;
}

.main-menu {
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-menu li {
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

.main-menu a {
    padding: 7px 10px;
    border-radius: 3px;
    background: #2f2e2e;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    transition: all .3s;

    &:hover {
        background: #666;
    }
}
